:root {
    --primary-color: #729be7;
    --secondary-color: #5e503f;
    --tertiary-color: #c6ac8f;
    --quaternary-color: #0A0908;
    --quinary-color: #fffff8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--quinary-color);
    color: white;
}

header {
    background-image: url("../images/pexels-luis-gomes-546819.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 20px 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 1.65vw;
    padding: 10px 10px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
}

header nav ul li a:hover {
    background: white;
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    height: 800px;
    background-image: url("../images/pexels-luis-gomes-546819.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.hero h1 {
    padding: 10px 75px;
    border: 2px solid var(--secondary-color);
    margin-bottom: 50px;
    margin-right: -2px;
    font-size: 48px;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    box-shadow: -7px 7px 10px rgba(0, 0, 0, .5);
}

.section-title {
    padding: 10px 50px;
    border: 3px solid var(--secondary-color);
    margin-top: 20px;
    margin-left: -2px;
    margin-bottom: 25px;
    font-size: 24px;
    background-color: var(--tertiary-color);
    width: fit-content;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
    color: var(--quaternary-color);
}

.about-me div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.about-me article {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.4;
    padding: 40px;
    border-radius: 15px;
    background-color: var(--primary-color);
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: stretch;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.showcase > a {
    text-align: center;
    border: 3px solid var(--primary-color);
    background-image: linear-gradient(red,blue);
    height: 250px;
    flex-grow: 1;
    transition: flex-grow 2s;
    margin: 10px;
    display: flex;
    text-decoration: none;
    color: var(--quaternary-color);
}

.showcase > a:hover {
    flex-grow: 10;
}

#run-buddy {
    background-image: url(../images/run-buddy.JPG);
    background-size: cover;
}

#tetris {
    background-image: url(../images/tetris.JPG);
    background-size: cover;
    background-position: 95%;
}

#robot-gladiators {
    background-image: url(../images/pexels-luis-gomes-546819.jpg);
    background-size: cover;
}

.showcase a div {
    padding: 10px 50px;
    border: 3px solid var(--secondary-color);
    border-left: 0;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: var(--tertiary-color);
    width: fit-content;
    align-self: flex-end;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
}

.contact nav {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contact nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 20px 0;
    margin: 25px;
}

.contact nav ul li {
    padding: 10px;
}

.contact nav ul li a {
    color: var(--primary-color);
    font-size: 22px;
    padding: 10px 10px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
}

.contact nav ul li a:hover {
    color: var(--primary-color);
    text-shadow: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--primary-color);
}

@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 24px;
    }

    .hero {
        height: 250px;
    }
    
    .showcase > a {
        flex-basis: 34%;
    }
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 28px;
        text-align: end;
        padding: 10px 20px;
    }

    .about-me div {
        width: 90%;
    }

    .showcase {
        width: 90%;
    }
    
    footer h2:last-child {
        text-align: end;
    }
}

@media screen and (max-width: 575px) {
    header nav ul li {
        margin-bottom: 20px;
        width: 34%;
        text-align: center;
    }

    .hero {
        height: 150px;
    }

    .contact nav ul {
        display: block;
        text-align: center;
        margin: 0;
    }
}