:root {
    --primary-color: #4b5c46;
    --secondary-color: #5e503f;
    --tertiary-color: #c6ac8f;
    --quaternary-color: #0A0908;
    --quinary-color: #fffff8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    padding: 10px 15px;
    border: 2px solid var(--quaternary-color);
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--quinary-color);
}

.button:active {
    background-color: #3a4d34;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--quinary-color);
    color: white;
    text-decoration-skip-ink: none;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/pexels-luis-gomes-546819.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 1.65vw;
    padding: 10px 15px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
    border-radius: 15px;
    transition: all 1s;
}

header nav ul li a:hover {
    background: white;
    color: var(--primary-color);
    text-shadow: none;
}

.hero {
    height: 800px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/pexels-luis-gomes-546819.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    position: relative;
}

.hero .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero .hero-content div {
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

.hero .hero-content div a {
    font-size: 24px;
    text-decoration: none;
}

.hero .hero-content div a:hover {
    color: var(--quinary-color)
}

.hero #name-hero {
    position: absolute;
    bottom: 30px;
    right: 0vw;
}

.hero #name-hero h1 {
    padding: 10px 75px;
    border: 2px solid var(--secondary-color);
    margin-bottom: 50px;
    margin-right: -2px;
    font-size: 48px;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    box-shadow: -7px 7px 10px rgba(0, 0, 0, .5);
}

.section-title {
    padding: 10px 50px;
    border: 3px solid var(--secondary-color);
    margin-top: 20px;
    margin-left: -2px;
    margin-bottom: 25px;
    font-size: 24px;
    background-color: var(--tertiary-color);
    width: fit-content;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
    color: var(--quaternary-color);
}

.about-me div {
    margin: 0 5%;
}

.about-me article {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.4;
    padding: 40px;
    border-radius: 15px;
    background-color: var(--primary-color);
}

.tech {
    text-align: center;
}

.tech button {
    font-size: 24px;
}

.tech #tech-collapsable {
    margin: 20px;
    color: var(--quaternary-color)
}

.tech #tech-collapsable ul {
    list-style-position: inside;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.showcase .showcase-el {
    text-align: center;
    border: 3px solid var(--primary-color);
    height: 250px;
    transition: all 2s;
    margin: 10px;
    position: relative;
    text-decoration: none;
    color: var(--quaternary-color);
    background-size: cover;
    background-position: center;
}

.showcase .showcase-el:hover {
    height: 500px;
}

.showcase .showcase-el .showcase-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.showcase .showcase-el .showcase-body p {
    margin: 20px auto;
    color: var(--quinary-color);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px var(--quaternary-color);
}

.showcase .showcase-el .showcase-body a {
    text-decoration: none;
    margin: 5px;
}

.showcase .showcase-el .showcase-body a:hover {
    color: var(--quinary-color);
}

.showcase .showcase-el .showcase-title {
    padding: 10px 30px;
    border: 3px solid var(--secondary-color);
    border-left: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 16px;
    background-color: var(--tertiary-color);
    width: fit-content;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
}

.showcase .showcase-el .showcase-title h3 {
    font-size: 24px;
}

.showcase .showcase-el .showcase-title h3, .showcase .showcase-title p {
    margin: 0;
    white-space: nowrap;
}

#run-buddy {
    background-image: url(../images/run-buddy.JPG);

}

#tetris {
    background-image: url(../images/tetris.JPG);
    background-position: 95%;
}

#password-generator {
    background-image: url(../images/password-generator.JPG);
}

#taskinator {
    background-image: url(../images/taskinator.JPG);
}

#coding-quiz {
    background-image: url(../images/coding-quiz.JPG);
}

#taskmaster-pro {
    background-image: url(../images/taskmaster-pro.jpg);
}

#work-day-scheduler {
    background-image: url(../images/work-day-scheduler.jpg);
}

#git-it-done {
    background-image: url(../images/git-it-done.JPG);
}

#weather-app {
    background-image: url(../images/weather-app.JPG);
}

.contact nav {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contact nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 20px 0;
    margin: 25px;
}

.contact nav ul li {
    padding: 10px;
}

.contact nav ul li a {
    color: var(--primary-color);
    font-size: 22px;
    padding: 10px 10px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
}

.contact nav ul li a:hover {
    color: var(--primary-color);
    text-shadow: none;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 550px;
    }

    .hero #name-hero h1 {
        font-size: 28px;
        text-align: end;
        padding: 10px 20px;
    }

    .about-me div {
        width: 90%;
    }
    
    footer h2:last-child {
        text-align: end;
    }
}

@media screen and (max-width: 575px) {
    header nav ul li {
        margin-bottom: 20px;
        width: 34%;
        text-align: center;
    }

    .hero .hero-content div p {
        font-size: 28px;
    }

    .contact nav ul {
        display: block;
        text-align: center;
        margin: 0;
    }
}